<div class="d-flex align-items-center justify-content-center">
  <h1>Studio Ghibli</h1>
</div>

<div class="d-flex align-items-center justify-content-center">
  <ul>
    <% @studioghiblis.each do |studioghibli|%>
      <li>
        <%= studioghibli.character%>
      </li>
    <% end %>
  </ul>
</div>

<%= will_paginate @studioghiblis, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
